@charset "UTF-8";
@charset "UTF-8";
.payment-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.payment-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.payment-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.payment-container form {
    text-align: left;
    max-width: 500px;
    margin: auto;
}

.payment-container label {
    display: block;
    margin-bottom: 8px;
}

.payment-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.payment-container button {
    padding: 10px 10px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-container button:hover {
    background-color: #80ff80;
}

.payment-container button i {
    margin-right: 8px; 
}


.payment-container a {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

.payment-container a:hover {
    text-decoration: underline;
}